
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /apps/gestion_expedientes/

    # Redirige todo a index.php si no existe archivo o carpeta
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>